/* ==== GOOGLE FONTS ==== */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Shantell+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap');

/* ==== CSS VARIABLES ==== */
:root {
    /* 1- Defining colors */
    --bodyColor: #fcfcfd;
    --containerColor: #f2f2f3;
    --lightColor: #8a8f93;
    --textColor: #45484a;
    --titleColor: #fd510c;
    --secondTitleColor: #27292a;

    /* 2- Defining text's size and typography*/
    --specialFont: 'Dancing Script', cursive;
    --titleFont: 'Shantell Sans', cursive;
    --textFont: 'Rubik', sans-serif;
    --bigSize: 2rem;
    --normalSize: 1.2rem;
    --smallSize: .989rem;
}

@media screen and (max-width: 750px) {

    /* 1- Defining text's size and typography*/
    :root {
        --bigSize: 1.5rem;
        --normalSize: 1rem;
        --smallSize: .878rem;
    }

}

/* ==== BASES ==== */
html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: var(--bodyColor);
    font-family: var(--textFont);
    overflow-x: hidden;
    position: relative;
}

img {
    width: var(--bigSize);
}

b {
    color: var(--titleColor);
    font-family: var(--titleFont);
}

h3 {
    margin-block: 20px;
    color: var(--secondTitleColor);
    text-transform: uppercase;
    text-align: center;
    font-family: var(--titleFont);
    font-weight: bold;
}

h2 {
    color: var(--secondTitleColor);
    text-transform: capitalize;
    text-align: center;
    font-family: var(--titleFont);
}

/* ==== NAVBAR ====  */
.hdr {
    padding: 15px;
    background-color: var(--bodyColor);
    box-shadow: 0 4px 20px hsla(207, 24%, 35%, .1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoLink {
    font-size: calc(var(--bigSize) + .5rem);
    font-family: var(--specialFont);
    font-weight: 700;
    text-decoration: none;
    color: var(--titleColor);
}

.contactLink {
    border-bottom: 1px solid var(--titleColor);
}

.contactLink a {
    font-size: var(--normalSize);
    font-family: var(--titleFont);
    font-weight: 300;
    color: var(--titleColor);
    text-decoration: none;
}

/* ==== RESPONSIVE ==== */
@media screen and (max-width: 575px) {
    .hdr {
        padding: 15px;
    }

    .nav {
        width: 100%;
    }
}

/* ==== PAGE SETTINGS ==== */
.settings {
    width: 230px;
    height: 100vh;
    padding: 15px;
    background-color: var(--containerColor);
    color: var(--textColor);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0px;
    right: 0;
    z-index: 100;
    transform: translateX(230px);
    transition: transform .2s;
}

.openSett {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--textColor);
    position: fixed;
    top: 100px;
    right: 15px;
    cursor: pointer;
    animation: rotate 2.5s linear 0s infinite;
    z-index: 51;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.openSett i {
    font-size: var(--normalSize);
}

.mode {
    width: calc(100% - 50px);
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
}

.mode div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.75rem;
}

.mode div i {
    padding-bottom: .25rem;
    font-size: var(--normalSize);
    cursor: pointer;
}

.activeTheme {
    color: var(--titleColor);
    border-bottom: 1px solid var(--titleColor);
}

.colors {
    width: calc(100% - 25px);
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
}

.colors div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.colors div div {
    width: 30px;
    height: 30px;
    margin: 10px;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}

.red {
    background-color: red;
}

.green {
    background-color: greenyellow;
}

.blue {
    background-color: skyblue;
}

.orange {
    background-color: orange;
}

.purple {
    background-color: purple;
}

.peru {
    background-color: peru;
}

.socialNetwork {
    width: calc(100% - 50px);
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
}

.socialNetwork div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.socialNetwork div a {
    margin: 15px;
    color: var(--textColor);
}

.socialNetwork div a:hover {
    color: var(--titleColor);
}

.socialNetwork div a:active {
    color: var(--titleColor);
}

.socialNetwork div a i {
    font-size: var(--normalSize);
}

.closeSett {
    position: absolute;
    top: 35px;
    left: 10px;
}

.closeSett i {
    font-size: calc(var(--bigSize) + .5rem);
    color: var(--secondTitleColor);
    cursor: pointer;
}

/* ==== MAIN ==== */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ==== ABOUT ME AND SKILLS SECTION ==== */
.bio {
    width: calc(100% - 20px);
    margin-block: 125px;
    background-color: var(--containerColor);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gif {
    width: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.gif img {
    width: 100%;
    height: 200px;
    border-radius: 100%;
}

.bioContainer {
    width: 80%;
    padding: 15px;
}

.bioContainer p {
    margin-block: 5px;
    color: var(--textColor);
    font-size: var(--normalSize);
    font-weight: 300;
}

.aboutMe1 a {
    text-decoration: none;
}

.aboutMe1 span {
    border-bottom: 1px solid var(--titleColor);
    cursor: pointer;
}

.aboutMe2 span {
    margin-inline: 10px;
    color: var(--titleColor);
    font-size: var(--bigSize);
    font-family: var(--titleFont);
    font-weight: 600;
}

.skills {
    margin-block: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.skills b {
    color: var(--textColor);
    font-size: var(--smallSize);
}

.currentlyLearning,
.goingToLearning {
    width: 50%;
    padding: 15px;
    border: 1px solid var(--lightColor);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.currentlyLearning div,
.goingToLearning div div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.goingToLearning {
    margin-left: 5px;
}

.goingToLearning div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.react {
    animation: rotate 1.5s linear 0s infinite;
}

/* ==== RESPONSIVE ====*/
@media screen and (max-width: 750px) {
    .bio {
        margin-block: 100px;
        flex-direction: column;
    }
}

@media screen and (max-width: 575px) {
    .bio {
        width: calc(100% - 5px);
    }

    .bioContainer {
        width: 90%;
    }

    .skills {
        border: 1px solid var(--lightColor);
        flex-direction: column;
        align-items: center;
    }

    .currentlyLearning {
        border: none;
        border-bottom: 1px solid var(--lightColor);
    }

    .goingToLearning {
        width: 100%;
        margin-left: 0px;
        border: none;
    }
}

/* ==== PROJECTS SECTION ==== */
.myProjects {
    width: 100%;
    color: var(--textColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myProjects h1 {
    margin-block: 50px;
    color: var(--secondTitleColor);
    text-transform: uppercase;
    font-size: calc(var(--bigSize) + .5rem);
    font-family: var(--titleFont);
}

.ProjectsContainer {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.pjct {
    padding: 15px;
    margin: 20px;
    height: 350px;
    border: 1px solid var(--titleColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* .pjct h2 {
    text-transform: capitalize;
    font-family: var(--titleFont);
} */

.pjct img {
    width: 400px;
    opacity: .8;
    transition: opacity .2s,
        transform .2s;
}

.pjct:hover img {
    opacity: 1;
}

.pjct:hover img {
    transform: scale(0.95);
}

.pjct:hover img {
    opacity: 1;
}

.usedLanguages {
    width: 80%;
    margin-block: 15px;
    text-transform: uppercase;
    text-align: start;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btns {
    width: 80%;
    margin-block: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btns button {
    border: none;
    background-color: transparent;
}

.btns button a {
    width: 75px;
    height: 25px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    background-color: var(--titleColor);
    font-size: var(--smallSize);
    font-family: var(--titleFont);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btns button a:hover {
    opacity: .8;
}

/* ==== RESPONSIVE ==== */
@media screen and (max-width: 575px) {
    .pjct img {
        width: 290px;
    }

    .usedLanguages {
        width: 95%;
    }
}

/* ==== TO THE TOP PAGE ==== */
.topPage {
    width: 40px;
    height: 40px;
    background-color: var(--titleColor);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 100px;
    left: 15px;
    z-index: 51;
    animation: move 2s linear 0s infinite;
    cursor: pointer;
    display: none;
}

@keyframes move {

    0%,
    100% {
        margin-bottom: 0;
    }

    50% {
        margin-bottom: 5px;
    }
}

.topPage i {
    color: #fff;
    font-size: calc(var(--normalSize) + 5px);
}

/* RESPONSIVE */
@media screen and (max-width: 575px) {
    .topPage {
        left: 5px;
    }
}

/* ==== CONTACT FORM AND MORE ABOUT ME ==== */
.contact {
    width: 90%;
    height: 100vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-x: hidden;
    z-index: 50;
    display: none;
}

.closeCont {
    position: absolute;
    top: 50px;
    right: 20px;
    cursor: pointer;
    z-index: 50;
}

.closeCont i {
    font-size: calc(var(--bigSize) + .5rem);
    color: var(--secondTitleColor);
}

.scrollDown {
    display: none;
}

.moreAboutMe {
    padding: 30px;
    width: 50%;
    height: 100%;
    background-color: var(--bodyColor);
    color: var(--textColor);
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .5s;
}

.moreAboutMe h2 {
    margin-block: 20px;
}

.intilaPara {
    text-transform: capitalize;
    font-size: var(--smallSize);
    position: relative;
    top: -25px;
}

.firstPara,
.secondPara {
    margin: 7px;
    line-height: 1.8;
    text-transform: capitalize;
}

.languages {
    margin-top: 10px;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.languages img {
    width: 40px;
}

.form {
    padding: 30px;
    width: 50%;
    height: 100%;
    background-color: var(--containerColor);
    color: var(--textColor);
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .5s;
}

.form h2 {
    margin-block: 20px;
}

.form p {
    text-transform: capitalize;
    text-align: center;
    font-size: var(--smallSize);
    position: relative;
    top: -25px;
}

.inputBox {
    margin: 15px 0;
    width: 300px;
    font-weight: bold;
    position: relative;
}

.inputText {
    width: 100%;
    padding: 7px;
    background-color: var(--containerColor);
    color: var(--textColor);
    border: none;
    border-bottom: 1px solid var(--titleColor);
    font-size: 18px;
    font-weight: 700;
    resize: none;
    position: relative;
    outline: none;
    transition: border 0.4s;
}

.msgArea {
    height: 200px;
}

.inputBox span {
    letter-spacing: 3px;
    position: absolute;
    left: 4px;
    transform: translateY(2px);
    pointer-events: none;
    transition: transform 0.4s;
}

.inputText:focus,
.inputText:valid {
    border: 2px solid var(--titleColor);
}

.inputText:focus~span,
.inputText:valid~span {
    width: 100px;
    padding: 5px 10px;
    background-color: var(--titleColor);
    color: #fff;
    font-size: 0.8rem;
    letter-spacing: 2px;
    transform: translate(146px, -23px);
}

.submitBox {
    margin: 10px 0;
    padding: 18px 25px;
    color: var(--textColor);
    border: 1px solid var(--lightColor);
    background-color: transparent;
    letter-spacing: 2.5px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.submitBox:hover {
    color: #fff;
    background-color: var(--titleColor);
    transition: all 0.2s;
}

/* RESPONSIVE */
@media screen and (max-width: 991px) {
    .contact {
        width: 95%;
    }
}

@media screen and (max-width: 775px) {
    .contact {
        height: 200vh;
        flex-direction: column-reverse;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(0%, 0%);
    }

    .closeCont {
        top: 50px;
        left: 25px;
    }

    .scrollDown {
        height: 32px;
        width: 20px;
        border-radius: 15px;
        border: 2px solid var(--secondTitleColor);
        font-size: var(--normalSize);
        display: block;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .scrollDown::after {
        content: '';
        height: 6px;
        width: 5px;
        background-color: var(--secondTitleColor);
        border-radius: 50%;
        position: absolute;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
        animation: scroll-down 2s ease-in infinite;
    }

    @keyframes scroll-down {

        0%,
        100% {
            top: 5px;
        }

        50% {
            top: 14px;
        }
    }

    .moreAboutMe {
        width: 100%;
        height: 50%;
    }

    .form {
        width: 100%;
        height: 50%;
        border-bottom: 3px solid var(--lightColor);
    }
}

@media screen and (max-width: 575px) {
    .contact {
        width: 100%;
    }
}

/* ==== FOOTER ==== */
footer {
    width: 100%;
    border-top: 1px solid var(--lightColor);
    color: var(--textColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footerSocialNetwork {
    width: 300px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footerSocialNetwork a {
    color: var(--textColor);
}

.footerSocialNetwork a:hover {
    color: var(--titleColor);
}

.footerSocialNetwork a:active {
    color: var(--titleColor);
}

.footerSocialNetwork a i {
    font-size: var(--normalSize);
}

.info {
    margin: 10px;
    text-align: center;
}

/* ==== JS EVENT ==== */
.open {
    transform: translateX(0px);
}

.close {
    transform: translateX(230px);
}