/* ==== GOOGLE FONTS ==== */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Shantell+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap');

/* ==== CSS VARIABLES ==== */
:root {
    /* 1- Defining colors */
    --bodyColor: #fcfcfd;
    --containerColor: #f2f2f3;
    --lightColor: #8a8f93;
    --textColor: #45484a;
    --titleColor: #fd510c;
    --secondTitleColor: #27292a;

    /* 2- Defining text's size and typography*/
    --specialFont: 'Dancing Script', cursive;
    --titleFont: 'Shantell Sans', cursive;
    --textFont: 'Rubik', sans-serif;
    --bigSize: 2rem;
    --normalSize: 1.2rem;
    --smallSize: .989rem;
}

@media screen and (max-width: 750px) {

    /* 1- Defining text's size and typography*/
    :root {
        --bigSize: 1.5rem;
        --normalSize: 1rem;
        --smallSize: .878rem;
    }

}

/* ==== BASES ==== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: var(--bodyColor);
    font-family: var(--textFont);
    overflow-x: hidden;
    position: relative;
}

img {
    width: var(--bigSize);
}

b {
    color: var(--titleColor);
    font-family: var(--titleFont);
}

h3 {
    margin-block: 20px;
    text-transform: uppercase;
    text-align: center;
    font-family: var(--titleFont);
    font-weight: bold;
}

/* ==== NAVBAR ====  */
.hdr {
    padding: 15px;
    background-color: var(--bodyColor);
    box-shadow: 0 4px 20px hsla(207, 24%, 35%, .1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoLink {
    font-size: calc(var(--bigSize) + .5rem);
    font-family: var(--specialFont);
    font-weight: 700;
    text-decoration: none;
    color: var(--titleColor);
}

.contactLink {
    font-size: var(--normalSize);
    font-family: var(--titleFont);
    font-weight: 300;
    text-decoration-thickness: 1px;
    color: var(--titleColor);
}

/* ==== RESPONSIVE ==== */
@media screen and (max-width: 575px) {
    .hdr {
        padding: 15px;
    }

    .nav {
        width: 100%;
    }
}

/* ==== PAGE SETTINGS ==== */
.settings {
    width: 230px;
    height: 100vh;
    padding: 15px;
    background-color: var(--containerColor);
    color: var(--textColor);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0px;
    right: 0;
    z-index: 100;
    transform: translateX(230px);
    transition: transform .2s;
}

.openSett {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--textColor);
    position: fixed;
    top: 100px;
    right: 15px;
    cursor: pointer;
    animation: rotate 2.5s linear 0s infinite;
    z-index: 10;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.openSett i {
    font-size: var(--normalSize);
}

.mode {
    width: calc(100% - 50px);
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
}

.mode div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.75rem;
}

.mode div i {
    padding-bottom: .25rem;
    font-size: var(--normalSize);
    cursor: pointer;
}

.activeTheme {
    color: var(--titleColor);
    border-bottom: 1px solid var(--titleColor);
}

.colors {
    width: calc(100% - 25px);
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
}

.colors div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.colors div div {
    width: 30px;
    height: 30px;
    margin: 10px;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}

.red {
    background-color: red;
}

.green {
    background-color: greenyellow;
}

.blue {
    background-color: skyblue;
}

.orange {
    background-color: orange;
}

.purple {
    background-color: purple;
}

.peru {
    background-color: peru;
}

.socialNetwork {
    width: calc(100% - 50px);
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
}

.socialNetwork div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.socialNetwork div a {
    margin: 15px;
    color: var(--textColor);
}

.socialNetwork div a:hover {
    color: var(--titleColor);
}

.socialNetwork div a:active {
    color: var(--titleColor);
}

.socialNetwork div a i {
    font-size: var(--normalSize);
}

.closeSett i {
    font-size: var(--normalSize);
    cursor: pointer;
}

/* ==== MAIN ==== */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ==== ABOUT ME AND SKILLS SECTION ==== */
.bio {
    width: calc(100% - 20px);
    margin-block: 125px;
    background-color: var(--containerColor);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gif {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.gif img {
    width: 100%;
    height: 200px;
    border-radius: 100%;
}

.bioContainer {
    width: 80%;
    padding: 15px;
}

.bioContainer p {
    margin-block: 5px;
    color: var(--textColor);
    font-size: var(--normalSize);
    font-weight: 300;
}

.aboutMe1 span {
    cursor: pointer;
}

.aboutMe2 span {
    margin-inline: 10px;
    color: var(--titleColor);
    font-size: var(--bigSize);
    font-family: var(--titleFont);
    font-weight: 600;
}

.skills {
    margin-block: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.skills b {
    color: var(--textColor);
    font-size: var(--smallSize);
}

.currentlyLearning,
.goingToLearning {
    width: 50%;
    padding: 15px;
    border: 1px solid var(--lightColor);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.currentlyLearning div,
.goingToLearning div div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.goingToLearning {
    margin-left: 5px;
}

.goingToLearning div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.react {
    animation: rotate 1.5s linear 0s infinite;
}

/* ==== RESPONSIVE ====*/
@media screen and (max-width: 750px) {
    .bio {
        margin-block: 100px;
        flex-direction: column;
    }
}

@media screen and (max-width: 575px) {
    .bio {
        width: calc(100% - 5px);
    }

    .bioContainer {
        width: 90%;
    }

    .skills {
        border: 1px solid var(--lightColor);
        flex-direction: column;
        align-items: center;
    }

    .currentlyLearning {
        border: none;
        border-bottom: 1px solid var(--lightColor);
    }

    .goingToLearning {
        width: 100%;
        margin-left: 0px;
        border: none;
    }
}

/* ==== PROJECTS SECTION ==== */
.myProjects {
    width: 100%;
    color: var(--textColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myProjects h1 {
    margin-block: 50px;
    color: var(--titleColor);
    text-transform: uppercase;
    font-size: calc(var(--bigSize) + .5rem);
    font-family: var(--titleFont);
}

.ProjectsContainer {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.pjct {
    padding: 15px;
    margin: 20px;
    height: 350px;
    border-bottom: 1px solid;
    border-right: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .2s;
}

.pjct:hover {
    transform: rotate(5deg);
}

.pjct h2 {
    text-transform: capitalize;
    font-family: var(--titleFont);
}

.pjct img {
    width: 400px;
    opacity: .8;
    transition: opacity .2s;
}

.pjct:hover img {
    opacity: 1;
}

.pjct:hover img {
    opacity: 1;
}

.usedLanguages {
    width: 80%;
    margin-block: 15px;
    text-transform: uppercase;
    text-align: start;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btns {
    width: 80%;
    margin-block: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btns button {
    border: none;
    background-color: transparent;
}

.btns button a {
    width: 75px;
    height: 25px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    background-color: var(--titleColor);
    font-size: var(--smallSize);
    font-family: var(--titleFont);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btns button a:hover {
    opacity: .8;
}

/* ==== RESPONSIVE ==== */
@media screen and (max-width: 575px) {
    .pjct img {
        width: 290px;
    }
}


/* ==== JS EVENT ==== */
.open {
    transform: translateX(0px);
}

.close {
    transform: translateX(230px);
}